.login_title {
    transform: translateY(50%);
    width: 300px;
    height: 15vh;
    font-size: 60px;
    font-family: 'Hi Melody', cursive;
    color: #4c4c4c;
    text-shadow: 0 0 3px  #4c4c4c;
    margin: 40px auto 0 auto;
}

.section {
    position: absolute;
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4c4c4c;
}

.button.is-sparta {
    background-color: #4c4c4c;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #4c4c4c;
    color: #4c4c4c !important;
}

.help {
    color: gray;
}