.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #96dfce;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);

  overflow: hidden;
}

.modalBox-head{
  width: 100%;
  height: 50%;
  max-height:20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
  background-color: white;

  transform: translateY(-10px);
}

.modalBox-body{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  width: 100px;
  display: block;
  text-align: center;

}

.btn-radius {
  border-radius: 10px;
}

.custom-file-label{
  white-space: nowrap;
}

.modalBox input {
  width: 300px;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  outline: solid 1px black;
  margin-top: 1px;
  border-radius: 5px;

  font-family: 'Nanum Gothic', sans-serif;
}

.modalBox textarea {
  width:300px;
  height: 200px;
  letter-spacing: 1px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

.input-group img{
  width: 100%;
  max-width: 100%;
  margin-bottom: -10px;
}


.hidden {
  display: none;
}


/*모달읽기*/
.modal_wr {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wr .bg_wr {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.modalBox_wr {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #96dfce;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);

  overflow: hidden;
}

.card-img-top_wr{
  width: 450px; height: 350px; background-color: #234234;
  position: center;
  text-align: center;
  display: flex;
  margin: auto;
}
.card-body_wr{
  display: flex; width: 450px; height: 250px; background-color: white;
  position: center;
  text-align: center;


  margin: auto;
}

.feeling_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container{
  margin-left: 20px;
}

.feeling_a{
  background-color: #fff;
  border: 2px solid #2199e8;
  padding: 10px 20px;
  border-radius: 2px;
  color: #2199e8;
}

.active{
  background-color: #2199e8;
  color: #fff;
}