#user_name {
    font-family: Arial;
}
.mypage-info-section {
    position: absolute;
    margin-top: 100px;
    width: 100vw;
}

.mypage-center {
    width: 60%;
    height: 120px;
    margin: auto auto 80px auto;
    padding-top: 90px;
    font-size: 32px;
    text-align: center;
    font-family: 'Hi Melody', cursive;
}

.mypage-nav {
    margin: 20px 180px;
}

.mypage-nav_list {
    border: 2px solid darkgrey;
    margin: 0 160px;
    padding: 10px 20px;
    border-radius: 20px;
    min-width: 250px;
}

.nav-link {
    font-size: 24px;
}

.my_diary_class {
    display: flex;
    flex-wrap: wrap;
}

.mypage-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tab-my-write {
    position: relative;
    margin: 0 40px;
    overflow: hidden;
}

.room-comment {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 20px 10px 5px 10px;

    transform: translateY(0);
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.4);
    /*height: 40px;*/
    /*width: 150px;*/
    /*border-radius: 6px;*/
    /*background-color: dimgrey;*/
    /*font-size: 20px;*/
    /*color: white;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*margin: 10px 0 0 15px;*/
    /*padding: 8px 5px 0 5px;*/
}
.tab-my-write:hover .room-comment {
    transform: translateY(-202px);
}

.room-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: contain;
}

.del_btn {
    text-align: center;
    height: 30px;
    margin: 10px 0 10px 0;
    font-size: 14px;
}