@import url(reset.css);
@import url(login.css);
@import url(modal.css);

* {
  font-family: "Hi Melody", cursive;
}

* {
  font-family: "Hi Melody", cursive;
}

.wrap {
}

header {
  width: 100vw;
  height: 50px;
  border: 1px solid red;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: gold;
  text-decoration: none;

  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-bar_first-box {
  width: 50px;
  height: 50px;
  background-color: white;
  margin-left: 20px;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;
}

.nav-bar_second-box {
  margin-right: 20px;
}

.mypage-center {
  width: 60%;
  height: 120px;

  margin: 50px auto;
  padding-top: 40px;
  font-size: 50px;
  text-align: center;
}

.mypage-nav {
  margin: 20px 120px;
}

.mypage-nav_list {
  border: 2px solid darkgrey;
  margin: 0px 100px;
  padding: 10px 20px;
  border-radius: 20px;
}

.tab-my-write {
  margin: 10px 20px;
}

.room-img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.main {
  width: 100vw;
  height: 80vh;
}

.footer {
  position: absolute;
  bottom: -100%;
  text-align: center;
  width: 100vw;
  height: 50px;

  background-color: green;
}

.slide {
  width: 100%;
  height: 300px;

  border: 1px solid red;
}

.openBtn {
  font-size: 20px;
  margin-left: 300px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.openBtn:hover {
  background-color: gray;
}

.nav-button:hover {
  background-color: red;
  color: gold;
}

.swiper {
  width: 60%;
  height: 30%;
  margin-bottom: 200px;
}

.swiper-slide {
  text-align: center;
  background: red;
  margin-top: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  margin-top: 100px;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.picture-list {
  margin: auto;
  width: 80%;
  height: 700px;
  display: flex;

  flex-direction: row;
  vertical-align: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  justify-content: space-evenly;
  border-radius: 50px;

  border: 1px solid red;
}

.card {
  display: inline-block;
  border-radius: 30px;
}

.font_right {
  text-align: right;
}

.border_radius {
  border-radius: 30px 30px 0 0;
}
